* {
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
    font-family: arial,sans-serif;
}
body {
    font-family: verdana, arial, helvetica, sans-serif;
    background: #000 none repeat scroll 0 0;
    font-size:11px;
}
ul ul {
    display: none;
    position:fixed;
}
ul li { overflow: hidden; }
#menu li { display: inline; }
a:link {color: #FFF;}
a:visited {color: #FFF;}
a:hover {color: #c9c721;}
a:active {color: #000;}
#body {
    margin-left: 20%;
    width: 780px;
    height: 300px;
}
#header{
    background: #FFF url("/images/Banner.png");
    height: 165px;
}
#sep {
    background: none repeat scroll 0 0 #000;
    width: 780px;
    height: 10px;
}
#menu1 {
    background: #6a6262 none repeat scroll 0 0;
    height: 40px;
    font-size: 16px;
    padding: 3px 6px;
}
#youtubeBox {
    background: #000 url("/images/fundo_video.png") repeat scroll 0 0;
    width: 385px;
    height: 250px;
    position: absolute;
    margin: 10px 0px;
}
#twitterBox {
    background: #000 url("/images/fundo_video.png") repeat scroll 0 0;
    width: 385px;
    height: 250px;
    margin: 10px 395px;
    text-align: center;
}
embed {
    width: 375px;
    height: 225px;
    margin: 19px 5px;
}
img {
    width: 175px;
    height: 70px;
}
h1 {
    font-size: 30px;
    text-align: center;
}
tbody tr th {
    font-size: 13px;
}
.campOb{
    font-size: 10px;
    text-decoration: bold;
}
table td {
    border: 2px solid grey;
    text-align: center;
    padding: 5px 10px;
}
table th {
    border: 2px inset #228B22;
    text-align: center;
    padding: 5px 10px;
}
.view { background: #000 url("/images/view.png") no-repeat scroll 0 0; }
.edit { background: #000 url("/images/edit.png") no-repeat scroll 0 0; }
.cancel { background: #000 url("/images/cancel.png") no-repeat scroll 0 0; }
.home { background: #000 url("/images/home.png") no-repeat scroll 0 0; }
.add { background: #000 url("/images/add.png") no-repeat scroll 0 0; }
.voltar { background: #000 url("/images/voltar.png") no-repeat scroll 0 0; }
.view, .edit, .cancel { border: 0px none; }
.new, .show, .editar { font-size: 13px; }

