* {
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
    font-family: arial,sans-serif;
}
body {
    font-family: verdana, arial, helvetica, sans-serif;
    background: #000 none repeat scroll 0 0;
    font-size:11px;
}
ul ul {
    display: none;
    position:fixed;
}

ul li {
    overflow: hidden;
}
#menu li {
    display: inline;
}
a:link {color: #FFF;}
a:visited {color: #FFF;}
a:hover {color: #FFD700;}
a:active {color: #000;}
#body {
    margin-left: 20%;
    width: 780px;
    height: 300px;
}
#header{
    background: #FFF url("/images/Banner.png");
    height: 165px;
}
#sep {
    background: none repeat scroll 0 0 #000;
    width: 780px;
    height: 10px;
}
#menu1 {
    background: #778899 none repeat scroll 0 0;
    height: 40px;
}
#youtubeBox {
    width: 385px;
    height: 250px;
    position: absolute;
}
#twitterBox {
    background: #000 none repeat scroll 0 0;
    width: 385px;
    height: 250px;
    margin: 0px 385px;
    text-align: center;
}
img {
    width: 175px;
    height: 70px;
}
h1 {
    font-size: 30px;
    text-align: center;
}
tbody tr th {
    font-size: 13px;
}

