* {
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
    font-family: arial,sans-serif;
}
body {
    background: #000 none repeat scroll 0 0;
    font-size:14px;
}
ul ul {
    display: none;
    position:fixed;
}

ul li {
    overflow: hidden;
}
#menu li {
    display: inline;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #FFD700;}
a:active {color: #000;}
#body {
    background: none repeat scroll 0 0 white;
    margin-left: 20%;
    width: 780px;
    height: 50px;
}

